{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Phishing Campaign Admin Dashboard</title>

    <!-- Custome Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/customstyle.css' %}">

    <!-- Icons-->
    <link href="{% static 'mainapp/vendors/@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainapp/vendors/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainapp/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainapp/vendors/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Main styles for this application-->
    <link href="{% static 'mainapp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'mainapp/vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="{% static 'mainapp/assets/unistar logo.png' %}" width="89" height="25" alt="Logo">
        <img class="navbar-brand-minimized" src="{% static 'mainapp/img/brand/sygnet.svg' %}" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Navbar profile -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% with user.first_name|add:" "|add:user.last_name as full_name %}
              <span class="mr-2">{{ full_name }}</span>
            {% endwith %}

            <i class="icons cui-chevron-bottom mr-4"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
    </header>

    <!-- Sidebar -->
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-title">Navigation</li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="nav-icon cui-dashboard"></i> Dashboard</a>
            </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>

      <!-- Main content -->
      <main class="main">
        
        {% block content %} {% endblock content %}

      </main>
    </div>
    <footer class="app-footer">
      <div>
        <span>All Rights Reserved.</span>
        <span>{% now "Y" %}</span>
      </div>
    </footer>
    <!-- CoreUI and necessary plugins-->
    <script src="{% static 'mainapp/vendors/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/pace-progress/js/pace.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/@coreui/coreui/js/coreui.min.js' %}"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{% static 'mainapp/vendors/chart.js/js/Chart.min.js' %}"></script>
    <script src="{% static 'mainapp/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js' %}"></script>
    <script src="{% static 'mainapp/js/main.js' %}"></script>
    <!-- Added -->
    <script src="{% static 'mainapp/js/custom.js' %}"></script>
    <script src="{% static 'mainapp/js/charts.js' %}"></script>
  </body>
</html>
